table, th, td {
    
    color:#c60021;
 font-size:19px;
    width:70%;
   height: 60%;;
    border:1px dotted #fa255e;
    padding: 10px;
    margin: 10px; 
   background-color: #f8e5e5;;
}

div{  
    margin-top: 40px; 
    margin-left:auto;
    margin-right:auto;
    height:60%;
    width:50%;
}    

body{
    background-color: #c39ea0;
}